<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Welcome to <%= title %><br><br>Written by: <a href="http://obydul.me">Md Obydullah</a><br><br>Published on: <a href="https://www.mynotepaper.com">mynotepaper.com</a></p>
  </body>
</html>
